/*
 * Imports the base styles from the core component.
*/
@import "../../../bower_components/SplunkWebCore/search_mrsparkle/exposed/pcss/base/bootstrap.pcss";

/*
 * Add app specific bootstrap styles here.
 * Note that *only* bootstrap styles should go here. Component specific styles
 * should be included with the component.
 */
