#customWidth table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  word-wrap: break-word !important;
}

#customWidth th[data-sort-key=Type] {
    width: 4%;
}

#customWidth th[data-sort-key=Year] {
    width: 4%;
}

#customWidth th[data-sort-key=Title] {
    width: 17%;
}

#customWidth th[data-sort-key=Description] {
    width: 24%;
}

#customWidth th[data-sort-key=Speakers] {
    width: 17%;
}

#customWidth th[data-sort-key=Recording] {
    width: 17%;
}

#customWidth th[data-sort-key=Slides] {
    width: 17%;
}
