<script type="text/template">
    <div id="single-target-editor">
        <div class="modal-content">
            <div class="modal-header">
                <% if (target) { %>
                <h4 class="modal-title">Edit Target</h4>
                <% } else { %>
                <h4 class="modal-title">Create New Target</h4>
                <% } %>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="span3 control-label">Field</div>
                        <div class="span9 field-select" />
                    </div>
                    <div class="row-fluid">
                        <div class="span3 control-label">Comparison</div>
                        <div class="span9 comparison-select" />
                    </div>
                    <div class="row-fluid">
                        <div class="span3 control-label">Value</div>
                        <div class="span9 value-to-compare-input" />
                    </div>
                    <div class="row-fluid">
                        <span>For events with multiple values for this field, </span>
                        <span class="match-all-values" />
                        <span>must satisfy the condition.</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn cancel">Cancel</a>
                <% if (target) { %>
                <a href="#" class="btn btn-primary save">Save</a>
                <% } else { %>
                <a href="#" class="btn btn-primary save">Create</a>
                <% } %>
            </div>
        </div>
    </div>
</script>
