.basicinfo-basic-controls {
    padding-left: 20px;
}

.basicinfo-basic-controls .protocol {
    margin-bottom: 15px;
}

.basicinfo-basic-controls .field-explanation {
    padding-left: 100px;
    margin-bottom: 15px;
}
