<div class="fields-step">
    <div class="step-subheading">
        <%- stepTitle %>
        <div class="step-subsubheading">
            Enable all the fields you wish to include in this stream.
        </div>
    </div>
    <div class="row field-search">
        <div class="search field-search-control">
            <input type="text" class="input-medium search-query" value="<%-searchString%>" placeholder="Search" />
            <a class="clear"><i class="icon-x-circle"></i></a>
        </div>
    </div>
    <table class="field-list" />
</div>
