<div class="settings-step">
    <div class="step-subheading">
        <%- stepTitle %>
        <div class="step-subsubheading">
            Optionally, adjust Splunk App for Stream settings.
        </div>
    </div>
    <div class="controls container-fluid">
        <div class="row-fluid">
            <div class="span1 control-label">Index</div>
            <div class="span11 index-select" />
        </div>
        <div class="row-fluid">
            <div class="span1 control-label">Status</div>
            <div class="span11 status-control" />
        </div>
        <% if (streamType === 'metadata') { %>
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span11 field-explanation">
                    The 'Estimate' mode collects index volume stats on stream data, without sending
                    the stream data to your indexers.
                    <br />
                    These stats show you the amount of data that your Stream deployment is processing
                    for each protocol, which can help you configure stream capture and determine
                    your indexer requirements.
                </div>
            </div>
        <% } %>
    </div>
</div>
