@import 'global_ip_filters.css';
@import 'main-streams-page.css';
@import 'config-page.css';
@import 'ephemeral-streams.css';
@import 'datepickerModal.css';
@import 'forwarder-groups-management.css';
@import 'mount-points.css';
@import 'wizard.css';
@import 'overview-dashboard.css';
@import 'initial-setup.css';
@import 'flow-visualization.css';
@import 'spinner.css';

.main-area {
    border: 1px solid black;
}

.span-full {
    width: 100%;
}

.span-half {
    width: 50%;
}

.table th {
    font-weight: bold;
}

.table {
    /* add a padding b/c bottom row action button won't have space otherwise */
    margin-bottom: 80px;
}

.host-label {
    line-height: 30px;
    vertical-align: middle;
    width: 90px !important;
    font-size: 14px;
}

.time-range-label {
    line-height: 30px;
    vertical-align: middle;
    width: 120px !important;
    font-size: 14px;
}

.interface-label {
    line-height: 30px;
    vertical-align: middle;
    width: 140px !important;
    font-size: 14px;
}

.processor-label {
    line-height: 30px;
    vertical-align: middle;
    width: 140px !important;
    font-size: 14px;
}

.stream-server-label {
    line-height: 30px;
    vertical-align: middle;
    width: 150px !important;
    font-size: 14px;
}

.field-header {
    font-weight: bold;
    text-decoration: underline;
    border: none;
}

.form-actions {
    margin: 0px;
    background-color: transparent;
    text-align: center;
    padding: 0px;
    border-top: 0px;
}

.form-horizontal .controls {
    margin-left: 100px !important;
}

.form-horizontal .control-label {
    float: left;
    width: 30px;
    padding-top: 5px;
    text-align: left !important;
}

.list-item {
    border: 1px solid black;
    color: black;
    background: #f5f5f5;
    padding: 5px;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.add-input {
    margin-bottom: 0px !important;
    margin-right: 5px;
}

.save-ip-button {
    float: right;
}

.streams-header {
    float: left;
    text-align: left;
}

#createStream {
    float: right;
    text-align: right;
    margin-top: 5px;
    margin-right: -19px;
}


#introduce {
    float: right;
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
    background-image: none;
    background-color: #154E7A;
    border-color: #154E7A;
    box-shadow: none;
}

.add-stream-label {
    width: 100px !important;
}

.ipAddressList-controls {
    margin: 15px;
}

.destroy {
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.modal-header .modal-title {
    line-height: 30px;
}

label.disabled {
    color: lightgray;
}

.faded-msg {
    color:#c5c5c5;
}

.btn-group-radio > .btn.active:focus {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.125);
}

button.btn:focus {
    border-color: #c5c5c5;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.125);
}

/*
                    ###                ##
                     ##                ##
                     ##                ##
  #####    #####     ##              ######    #####   ## ###   ### ##
 ##       ##   ##    ##                ##     ##   ##  ###      ## # ##
  ####    #######    ##                ##     #######  ##       ## # ##
     ##   ##         ##       ##       ##     ##       ##       ## # ##
 #####     #####    ####      ##        ###    #####   ##       ##   ##


*/

.select-term-dialog select{
    width: 200px;
}

.select-term-dialog .row {
    margin-left: 0px;
}

.select-term-dialog .term-description {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #97999b;
}

.select-term-dialog .modal-body {
    padding: 10px;
}

.select-term-dialog .select-header {
    font-size: 14px;
    font-weight: bold;
}

.select-term-dialog .vocabulary-select {
    margin-right: 50px;
    margin-left: 10px;
}

.remove-field-column {
    width: 25px;
}

.hidden {
    display: none;
}

.page-subtitle {
  font-size: 12px;
}

/*
            ##               ###          ##
 #######    ##                ##          ##
 ##                           ##          ##
 ##       ####      #####     ##      ######   #####
 #####      ##     ##   ##    ##     ##   ##  ##
 ##         ##     #######    ##     ##   ##   ####
 ##         ##     ##         ##     ##   ##      ##
 ##       ######    #####    ####     ######  #####


*/

#fields tr, #filters tr {
    height: 30px;
}

#fields td, #filters td {
    padding-top: 8px;
}

#fields td.enabled {
    padding-top: 5px;
    text-align: center;
}

#fields td.agg-type {
    padding-top: 5px;
}

#fields label.agg-type-label {
    display: inline-block;
    position: relative;
    padding-left: 1px;
    padding-right: 12px;
}

#fields .key, #fields .agg {
    vertical-align: baseline;
}

#fields button.btn-mini {
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#fields td.has-checkbox {
    padding-top: 5px;
}

#fields td.has-select {
    padding-top: 4px;
}

#fields select {
    width: 75px;
    height: 22px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#fields .btn {
    line-height: 13px;
}

#edit-aggregation-modal {
  width: 550px;
  margin-left: -275px;
  vertical-align: middle;
}

#edit-aggregation-modal span.edit-aggregation-label {
    padding-left: 3px;
}

#edit-aggregation-checkboxes label {
    padding-left: 16px;
    padding-top: 3px;
}

/*
   #                            #                                                     #               #
  ###     #            ##       #                                ##                   #               #
  #                     #       #                                 #                  ###              #
 ###     ##     ##      #     ###   ####          ####    ##      #     ##     ###    #      ##     ###
  #       #    # ##     #    #  #   ##            ##     # ##     #    # ##   #       # #   # ##   #  #
  #       #    ##       #    #  #     ##            ##   ##       #    ##     #       # #   ##     #  #
  #      ###    ###    ###    ###   ####          ####    ###    ###    ###    ###     #     ###    ###
*/
#extracted-fields tr {
    height: 30px;
}

#extracted-fields td {
    padding-top: 8px;
}

#extracted-fields td.enabled {
    padding-top: 5px;
    text-align: center;
}

#extracted-fields th:first-child, #extracted-fields td:first-child {
    padding-left: 8px;
}


.stream-title {
    float: left;
}

.add-stream-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.enable-stream-button-group {
    margin-right: 25px;
}

#has-changes {
    float: right;
    color: #d85d3c;
}

.caution-subtext {
    color: #d85d3c;
}

/*
   ####     ##      ###       ##
  ##        ##       ##       ##
  ##                 ##       ##
 #####    ####       ##     ######    #####   ## ###    #####
  ##        ##       ##       ##     ##   ##  ###      ##
  ##        ##       ##       ##     #######  ##        ####
  ##        ##       ##       ##     ##       ##           ##
  ##      ######    ####       ###    #####   ##       #####
  #

*/

#edit-filters-dialog .modal-body {
    padding: 10px;
    overflow-y: visible;
}

#edit-filters-dialog .add-comparison {
    float: right;
}

#edit-filters-dialog .row {
    margin-left: 0px;
}

#edit-filters-dialog input.value {
    width: 120px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 0;
    padding: 0;
}

#edit-filters-dialog select.type {
    width: 140px;
}

#edit-filters-dialog th {
    padding-left: 12px;
}

#edit-filters-dialog td {
    padding: 0 12px 0 12px;
}

#edit-filters-dialog td.term {
    padding-top: 2px;
}

#edit-filters-dialog td.synth {
    padding-top: 1px;
}

#edit-filters-dialog td.synth div.control {
    height: 16px;
    width: 100%;
}

#edit-filters-dialog td.synth div.control span.caret {
    position: absolute;
    right: 0;
}

#edit-filters-dialog td.synth .btn-pill {
    line-height: 16px;
    padding-left: 0;
    color: #333;
}

#edit-filters-dialog td.comp-value {
    padding-top: 1px;
}

#edit-filters-dialog td.comp-value .icon-pencil {
    float: right;
}

#edit-filters-dialog td.delete-comparison-column {
    padding-top: 2px;
}

#edit-filters-dialog td.delete-comparison-column .delete-comparison {
    font-size: 18px;
    color: #5379af;
}

/* override the extra padding in bootstrap.min.css for first and last column of a table. */
#fields th:last-child, #fields td:last-child {
    padding-right: 8px;
}
#fields th:first-child, #fields td:first-child {
    padding-left: 8px;
}

.match-all-comp {
    margin-right: 10px !important;
    margin-bottom: 5px !important;
}

.match-all-comparisons-group {
    margin-left: 10px;
}

.delete-comparison-column {
    vertical-align: middle !important;
}

.modal.edit-filters-dialog {
    width: 600px;
    margin-left: -300px;
}

.float-right{
    float: right;
}

.modal .modal-body {
    max-height: 1080px;
    overflow-y: auto;
}

.comparisons-display-filter {
    margin-left: 5px;
    float: left;
}

.comparisons-table tr.deleted-row, .comparisons-table tr.hidden-row {
    display:none;
}

.edit-filters-dialog .field-search-control {
    margin-left: 5px !important;
}



#comparisons-table .term {
    cursor: move;
}

/*
                   ##        ###
 ######            ##         ##
   ##              ##         ##
   ##      ######  ######     ##      #####    #####
   ##     ##   ##  ##   ##    ##     ##   ##  ##
   ##     ##   ##  ##   ##    ##     #######   ####
   ##     ##  ###  ##   ##    ##     ##           ##
   ##      ### ##  ######    ####     #####   #####

*/

th.th-center{
    padding-bottom:8px;
}

td.no-wrap {
    white-space: nowrap;
}

/*
          ##                         ##       ##
          ##                         ##       ##
          ##                         ##       ##
  #####   ######    #####    #####   ##  ##   ######    #####   ##  ##
 ##       ##   ##  ##   ##  ##       ## ##    ##   ##  ##   ##   ####
 ##       ##   ##  #######  ##       ####     ##   ##  ##   ##    ##
 ##       ##   ##  ##       ##       ## ##    ##   ##  ##   ##   ####
  #####   ##   ##   #####    #####   ##  ##   ######    #####   ##  ##


*/

.regular-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox:checked:after {
    content: '\2713';
    font-size: 14px;
    position: absolute;
    top: -1px;
    left: 1px;
    color: #99a1a7;
}

#cloud-agreement-checkbox {
    margin-right: 5px;
}

/*
                     ##                         ##              ##
 #####               ##                         ##              ##
 ##  ##              ##                                         ##
 ##   ##   ######  ######    #####   ######   ####      #####   ##  ##    #####   ## ###
 ##   ##  ##   ##    ##     ##   ##  ##   ##    ##     ##       ## ##    ##   ##  ###
 ##   ##  ##   ##    ##     #######  ##   ##    ##     ##       ####     #######  ##
 ##  ##   ##  ###    ##     ##       ##   ##    ##     ##       ## ##    ##       ##
 #####     ### ##     ###    #####   ######   ######    #####   ##  ##    #####   ##
                                     ##
                                     ##

*/

.ui-datepicker-month, .ui-datepicker-year
{
    width: 65px;
}


/*

   ##            #             ##           ###                         #            #
  #             # #           #            #   #                        #            #
 #             #   #         #                 #         # ##    ###   ####    ###   # ##
 # ##          #   #         # ##            ##          ##  #      #   #     #   #  ##  #
 ##  #         #   #         ##  #          #            ##  #   ####   #     #      #   #
 #   #    #     # #          #   #    #    #             # ##   #   #   #  #  #   #  #   #
  ###    ###     #            ###    ###   #####         #       ####    ##    ###   #   #
          #                           #                  #
                                                         #

This doesn't exist in the core 6.0 CSS files so adding it here.
*/

.icon-chevron-down:before {
    content: "\02C5";
}
.icon-chevron-right:before {
    content: "\203A";
}
.icon-chevron-up:before {
    content: "\02C4";
}

/*
Without class 'expanded', class 'icon-chevron' has right pointing chevron and class 'content' is hidden.
With class 'expanded', class 'icon-chevron' has down pointing chevron and class 'content' is visible.
*/
.expandable .icon-chevron:before {
    content: "\203A";
    margin-right: 10px;
}

.expandable .content {
    display: none;
}

.expandable.expanded .icon-chevron:before {
    content: "\02C5";
}

.expandable.expanded .content {
    display: block;
}

.expandable .expansion-trigger {
    cursor: pointer;
}
