<script id="install-stream-forwarders-modal-template" type="text/template">
    <div class="modal" id="install-stream-forwarders-modal">
        <div class="modal-content">

            <!-- ====== -->
            <!-- Header -->
            <!-- ====== -->
            <div class="modal-header">
                    <h4 class="modal-title add-stream-title">Install Stream Forwarders</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>

            <!-- ==== -->
            <!-- Body -->
            <!-- ==== -->
            <div class="modal-body">
                <div class="container-fluid">
                    <div id="hec-token-configuration-blocks">

                        <span class="inner-block" id="hec-token-loading" style="display: none;">
                            Loading...
                        </span>

                        <span class="inner-block" id="hec-token-enabled" style="display: none;">
                            <i class="icon-check"></i>
                            HTTP Event Collector <b>streamfwd</b> token configuration has been enabled.
                        </span>

                        <span class="inner-block" id="hec-token-disabled" style="display: none;">
                            <i class="icon-alert"></i>
                            HTTP Event Collector <b>streamfwd</b> token configuration has been disabled.
                        </span>

                        <span class="inner-block" id="hec-global-disabled" style="display: none;">
                            <i class="icon-alert"></i>
                            HTTP Event Collector global token configuration has been disabled.
                        </span>

                        <span class="inner-block" id="hec-token-undefined" style="display: none;">
                            <i class="icon-alert"></i>
                            HTTP Event Collector <b>streamfwd</b> token does not exist.
                        </span>

                        <span class="configuration-block" id="hec-unsupported" style="display: none;">
                            <i class="icon-alert"></i>
                            HTTP Event Collector is not supported by this version of Splunk.
                        </span>

                        <span class="inner-block" id="hec-token-debugging">
                            <% if (isShcSetup) { %>
                                <a class="external" target="_blank" href="http://dev.splunk.com/view/event-collector/SP-CAAAE6Q">Learn More</a>
                            <% } else { %>
                                <a class="external" target="_blank" href="../../manager/splunk_app_stream/http-eventcollector">View configuration</a>
                            <% } %>
                            <div class="btn redetect"><i class="icon-rotate"></i> Redetect </div>
                        </span>

                    </div>

                    <div id="host-error-message" style="display: none;">
                        <span class="inner-block">
                            <i class="icon-alert"></i>
                            Invalid hostname configured for HTTP Event Collector: <%-hecHostname%>
                        </span>
                    </div>

                    <br />

                    <div>
                        Splunk App for Stream auto-configures the token settings only on the search head that it runs on. <br />
                        In a distributed environment, manual replication of the streamfwd token configuration on each indexer is required.
                    </div>

                    <br /><br />

                    <div id="hec-config-command">
                        To get data from other machines, run this command on your data source machine:
                        <div class="quote-well">
                            curl -sSL <%-curlUrl%> | sudo bash
                            <% if(authEnabled) { %>
                            -s -- --auth-token <%-authToken%>
                            <% } %>
                        </div>
                        <br />
                        Note: Stream Forwarder (streamfwd) independent installation supports data capture on 64-bit Linux (RHEL and Ubuntu) only.
                    </div>

                    <br /><br /><br />

                    <div id="stream-ta-install">
                        <% if (hecSupported) { %>Or i<% } else { %>I<% } %>nstall Stream TA on your data source machine.
                        <a class="external" target="_blank" href="http://docs.splunk.com/Documentation/StreamApp/latest/DeployStreamApp/InstallSplunkAppforStream">Learn more</a>
                    </div>

                    <br />

                </div>
            </div>

        </div>
    </div>
</script>
