<script id="confirm-dialog-template" type="text/template">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><%- title %></h4>
            </div>
            <div class="modal-body">
                <p><%= message %></p>
            </div>
            <div class="modal-footer">
              <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-default ok">OK</a>
            </div>
        </div>
    </div>
</script>
